.theme-light-image {
    display: block;
}
.theme-dark-image {
    display: none;
}

html[data-theme="dark"] .theme-light-image {
    display: none;
}
html[data-theme="dark"] .theme-dark-image {
    display: block;
}

